@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.all {
  background-color: lightgrey;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#center {
  text-align: center;
}
#border {
  border-style: solid;
  padding: 10px;
}
.red {
  color: red
}
.blue {
  color: blue
}
.hide {
    text-decoration: none; 
    color: black; 
}
.header {
  align-items: baseline;
}
